* {
  box-sizing: border-box;
}
body {
  font-size: 1.5vh;
}
.canvas {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,#fdf5f2, #e6c6bd);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  left: 6.3%;
  width: 26.4%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 2.1vh;
  font-size: 1.9vh;
}

.sidebar2 {
  position: absolute;
  left: 6.3%;
  width: 21.4%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 2.1vh;
  font-size: 1.9vh;
}

.sidebarchart {
  position: relative;
  left: 6.3%;
  width: 23.4%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 2.1vh;
  font-size: 1.9vh;
}

.sidebar3 {
  position: absolute;
  right: 0.8%;
  width: 35vh;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 2.4vh;
  text-align: right;
}

.mapframe2 {
  width: 127vh;
  height: 127vh;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 56%;
  margin: -63.5vh 0 0 -63.5vh;
  border-radius: 50%;
}


.mapframe1 {
  width: 96vh;
  height: 96vh;
  background-image: linear-gradient(to right,#fff9dd, #f8efc6);
  opacity: 0.76;
  position: absolute;
  top: 50%;
  left: 56%;
  margin: -48vh 0 0 -48vh;
  border-radius: 50%;
}

.mapframe1:hover {
  opacity: 0.81;
}

.map {
  width: 80vh;
  height: 80vh;
  background: #C4C4C4;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 56%;
  margin: -40vh 0 0 -40vh;
  border-radius: 50%;
}
.navbar {
  width: 9.55vh;
  height: 100%;
  padding: 0px;
  background: #0c0301dc;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.nav-item2::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #f5986d;
  transition: 0.4s
}

.nav-item2:hover::after {
  width: 80%
}

.btn-text {
  font-size: 1.9vh;
}

.search {
  background: white;
}

.search:hover {
  background: rgb(240, 240, 240);
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
  box-decoration-break: none;
}


.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f5986d
}


.above {
  width: 80%;
  color: rgb(43, 23, 15);
  position: absolute;
  top: 1.3%;
  left: 7.1%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 10.8vh;
  opacity: 1;
}

.average {
  width: 80%;
  color: rgb(136, 128, 127);
  position: absolute;
  top: 12.1%;
  left: 7.4%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 5.1vh;
  opacity: 1;
}

.text {
  color: rgb(209, 209, 209);
}


/*Spinner Styles*/
.lds-dual-ring {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


