@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+Bengali:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

article{
  padding-left: 21vw; 
  padding-right: 21vw;
  font-size: 0.95vw;
  width: 90%; 
  margin-left: auto; 
  margin-right: auto;
}

canvas { 
  display: block; 
}


a{
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove underline */
}

a:hover{
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove underline */
}

.title{
    /*font-family: 'Noto Sans Bengali';*/
    font-family: "Varela", serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 3rem;
}

.logo {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vh;  
}



.title:hover span {
  display: none
}

.title:hover:before {
  content: "Haoheng T."
}

.titlename{
  /*font-family: 'Noto Sans Bengali';*/
  font-family: "Varela", serif;
  font-size: 1.5vw;
  margin-top: 3rem;
}

.subtitle{
  font-size: 0.95vw;
  color: #959595;
}

figcaption{
  color: #434343;
  font-size: 0.9vw;
}

.nav {
    text-align: center;
    font-size: 1.5vh;
    color: #000000;
    padding-top: 2.5vh;
    height: 8vh;
  }

.nav-item2::after {
  content: "";
  display: block;
  height: 0.26rem;
  width: 0;
  transition: 0.8s;
}

.nav-item2:hover::after {
  width: 90%;
  background: white;
}


.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teaser{
  width: 100%;
  top: 0; 
}

.gallery{
  padding-left: 15%; 
  padding-right: 15%; 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 5rem;
  grid-gap: 3rem;
}

.card{
  text-align: center;
  font-size: 0.7vw;
  background-color: white;
}

.card-img-top {
	-webkit-filter: opacity(100%);
	filter: opacity(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card-img-top:hover{
  -webkit-filter: opacity(90%);
	filter: opacity(90%);
}


.card-img-top:hover .popup {
  width: 18vw; /* Show the popup on hover */
}

.text-popup{
  position: absolute;
  top: 0;
  left: 0;
  width: 18vw;
  opacity: 0;
  height: 100%; /* Cover half of the image */
  color: white;
  transition: opacity 0.4s ease; /* Smooth transition */
  text-align: center;
  margin-top: 20%;
  font-size: large;
}

.card-img-top:hover .text-popup {
  opacity: 1; /* Show the popup on hover */
}

.cardtitle{
  font-size: 1.25vw;
}

.imgholder{
  margin-top: 3rem; 
  margin-bottom: 2rem;
}

.project-name{
  font-size: 1.05vw;
  font-weight:600;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0); /* Set a background color */
  color: #e0e0e0;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 56px; /* Increase font size */
  font-weight: 50;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#myBtn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#myLink {
  position: fixed; /* Fixed/sticky position */
  left: 2.2vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 1.5vw; /* Increase font size */
  font-weight: 50;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#myLink:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/*For Mobile Device (iPhone)*/

@media (max-aspect-ratio:1){

  article{
    padding-left: 4vw; 
    padding-right: 4vw;
    font-size: 1.4vh;
  }

  .title{
    /* font-family: 'Noto Sans Bengali'; */
    font-family: "Varela", serif;
    font-size: 4vh;
    text-align: center;
    margin-top: 3rem;
  }
  
  .nav {
    text-align: center;
    font-size: 1.3vh;
    color: #000000;
    padding-bottom: 1.5vw;
  }

  .titlename{
    /* font-family: 'Noto Sans Bengali'; */
    font-family: "Varela", serif;
    font-size: 1.6vh;
    margin-top: 3rem;
  }
  
  .subtitle{
    font-size: 1.2vh;
    color: #959595;
  }

  figcaption{
    color: #434343;
    font-size: 1.2vh;
  }

  .cardtitle{
    font-size: 1.65vh;
  }

  .card{
    font-size: 1vh;
  }

  .project-name{
    font-size: 1.25vh;
  }

  .gallery{
    display:inline-block;
    margin-top: 5rem;
    padding-left: 12%;
    padding-right: 12%;
    gap: 1vh;
  }

  #myLink {
    font-size: 2vh; /* Increase font size */
  }

}